<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>mymodule_test</name>
    <displayName><![CDATA[My module Test]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Test duplicate config .]]></description>
    <author><![CDATA[Huy test]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>