.single-item-carousel .owl-controls{
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}

.single-item-carousel .owl-controls .owl-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#left-column .owl-nav{
    width: 100%;
    margin-top: 0px;
}