/* Bỏ các animation trên hình ảnh để giữ nguyên */
.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
}

/* Định nghĩa animation cho caption */
@keyframes slideInCaption {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.carousel-item .figure{
    width: 100%;
}

/* Áp dụng animation cho caption */
.carousel-item .caption {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    animation: slideInCaption 1s forwards 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Thêm padding nếu cần thiết */
}

/* CSS cho slide */
.carousel-item {
    width: 100%;
}

.carousel-inner {
    width: 100%;
}

.carousel {
    overflow: hidden; /* Tránh hiển thị nội dung bên ngoài slide */
}

/* Định dạng slide để chiếm toàn bộ chiều ngang của màn hình */
.carousel.slide {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
