/* Style for the legend */
.form-group .form-legend {
    font-size: 2000px;
    color: #333;
}

.form-group .checkbox-tree {
    margin-left: 20px;
    margin-top: 10px;
}

.form-group .all-select input[type='radio'] {
    margin-right: 5px;
    margin-top: 5px;
}

.form-group .checkbox-tree label {
    margin-right: 15px;
    margin-top: 5px;
}

.form-group .checkbox-tree .tree-box {
    padding: 2px 5px;
    border-radius: 4px;
    box-sizing: border-box;
}

.tree-selected {
    color: #fff;
    background-color: #25b9d7;
}

.form-group .checkbox-tree input[type='checkbox'] {
    margin-right: 5px;
    margin-top: 5px;
}

.icon-home {
    margin-right: 5px;
}

.tree-toggle {
    margin-bottom: 5px;
    font-weight: 400;
}

.form-group .submit-btn {
    margin-top: 20px;
}